body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.holder {
    margin-left: 0em;
}

/* ESTILOS HEADER  */

/*header {
    background-image:image-set();
    padding: 1em 0;
}*/

header{
	background:url(../imagenes/barista/img24.jpg) no-repeat center fixed;
	background-size:cover;
	height:100px;
	width: 100%;
	/*position: absolute;*/
	left:0;
	top:0;
}

header h1 {
    background-color: #832801;
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-style: normal;
    /*font-weight: font-weight-absolute;*/
    display: inline-block;
    margin: 0.5em 0;
    /* position: relative;
    bottom: 30px; */
}

/* ESTILOS NAVBAR */

nav {
    background-color: #166801;
    position: absolute;
    left: 0;
    margin-bottom: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    width: 13%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: flex;
    display: inline-block;
    padding: 0.2em 0.4em;
    transition: all 0.2s ease;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul li a.activo {
    background-color: #1a7f01;
}


/* ESTILOS MAIN  */



h2 {
    color: #2e64a1;
    font-weight: 400;
    margin: 0 0 1em;
}

.left {
    float: left;
}

.right {
    float: right;
}


.homeimg {
    margin-bottom: 1.5em;
}

.homeimg img {
    width: 100%;
}

.columnas {
    overflow: hidden;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 ;
    grid-row: 3 ;
    object-position: auto;
  }
  .two {
    grid-column: 2 / 5 ;
    grid-row: 1 / 5;
     }

